<!DOCTYPE html>
<html>
<head>
   <title>Advanced CSS Effects</title>
   <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <center>
        <div class="box">
            <img src="My Image Rah.jpg"></image>
            <input type="file" name="" id="file" accept="image/*">
            <label for="file">EDIT PIC</label>
            <input type="text" name="" placeholder="User Name">
            <input type="email" name="" placeholder="Email ID">
            <input type="text" name="" placeholder="Phone Number">
            <input type="text" name="" placeholder="Date of Birth">
            <input type="text" name="" placeholder="GENDER">
            <button>CANCLE</button>
            <button>DONE</button>
        </div>
    </center>
</body>